body {
  margin: 10px 0 0 0;
  padding: 0;
}

#easel {
  width: 955px;
  margin: 0 auto; /* set margin to auto to center canvas, the browser splits margin half assigns values to left and right*/
  position: relative;
}

/*we get rid of bullets and default margins and padding */
#easel ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* we hide all text within strong tag */
#easel strong{
  display: none;
}

#easel em{
  width: 955px;
  height: 50px;
  display: block;
  background: #BF0A30;
  position: absolute; /*offsetting against the edges of parent element */
  top: 0; /*zero pixels from top and left of containing element*/
  left: 0;
  z-index: 1; /*placing the stacking order, the higher its z index the higher its stacking order*/
}

#easel a[href="http://delaware.gov/"] em {
  background: white;
  top: 50px;
  left: 0;
}

#easel a[href="http://www.georgia.gov/00/home/0"] em {
  top: 100px;
  left: 0;
}

#easel a[href="http://www.maryland.gov"] em {
  top: 200px;
  left: 0;
}

#easel a[href="http://www.state.nj.us/"] em {
  top: 300px;
  left: 0;
}

#easel a[href="http://www.nc.gov/"] em {
  top: 400px;
  left: 0;
}

#easel a[href="http://www.ri.gov/index.php"] em {
  top: 500px;
  left: 0;
}

#easel a[href="http://www.wv.gov/"] em {
  top: 600px;
  left: 0;
}

#easel h1 a {
  position:absolute;
  width:440px;
  height: 350px;
  background: #002868;
  text-indent: -9999em; /*hidden header text*/
  margin: 0;
  padding: 0;
  z-index: 20;
}

h1 a {
  background-image:
    linear-gradient(
      to top right,
      red, #f06d06
    );
}

/*absolute postioning the element wo offset places upper left hand of our easel aka our containg element*/

#easel ol li a[href="http://www.alabama.gov/"] i {
 background-image: url("white_star.png");
 display: block;
 position: absolute;
 top: 13px;
 left: 13px;
 z-index: 50;
 width: 24px;
 height: 23px;
}

#easel ol li a[href="http://www.state.ak.us/"] i {
 background-image: url("white_star.png");
 display: block;
 position: absolute;
 top: 13px;
 left: 90px;
 z-index: 50;
 width: 24px;
 height: 23px;
}

#easel ol li a[href="http://az.gov/"] i {
 background-image: url("white_star.png");
 display: block;
 position: absolute;
 top: 13px;
 left: 167px;
 z-index: 50;
 width: 24px;
 height: 23px;
}

#easel ol li a[href="http://www.state.ar.us/"] i {
 background-image: url("white_star.png");
 display: block;
 position: absolute;
 top: 13px;
 left: 244px;
 z-index: 50;
 width: 24px;
 height: 23px;
}

#easel ol li a[href="http://www.ca.gov/"] i {
 background-image: url("white_star.png");
 display: block;
 position: absolute;
 top: 13px;
 left: 321px;
 z-index: 50;
 width: 24px;
 height: 23px;
}

#easel ol li a[href="http://www.colorado.gov/"] i {
 background-image: url("white_star.png");
 display: block;
 position: absolute;
 top: 13px;
 left: 398px;
 z-index: 50;
 width: 24px;
 height: 23px;
}

#easel ol li a[href="http://www.ct.gov/"] i {
 background-image: url("white_star.png");
 display: block;
 position: absolute;
 top: 63px;
 left: 50px;
 z-index: 50;
 width: 24px;
 height: 23px;
}