#evtBubbleDiv{
  float:left;
  clear:left;
  display: inline;
}

#noBubbleDiv{
  float:left;
  display: inline;
  margin-left: 10px;
}

.evtBubbleStyleDivs {
  clear:left;
  margin-right: 10px;
  display: table-cell;
  border: solid 1px black;
  text-align: center;
  padding: 20px;

}

.noBubbleStyleDivs{
  display: table-cell;
  border: solid 1px black;
  text-align: center;
  padding: 20px;
}

#handleBarsRenderDiv{
  float:left;
  clear:left;
  margin-top: 10px;
  border: solid 1px black;
}

#selectorPlayDiv{
  float:left;
  clear:left;
  margin-top: 10px;
  border: solid 1px black;
}

ol  li {color: green}
ol > li {color: blue} /*matches lis in ols but not nested uls*/




