/*-----------------------*/
/*     Event Bubbling    */
/*-----------------------*/

#evt-bubble-div {
  float:left;
  margin-bottom: 10px;
}

#no-bubble-div {
  float:left;
  margin-left: 10px;
}

.evt-bubble-style-divs {
  margin-right: 10px;
  display: table-cell;
  border: solid 1px black;
  text-align: center;
  padding: 20px;
}

.no-bubble-style-divs {
  display: table-cell;
  border: solid 1px black;
  text-align: center;
  padding: 20px;
}

/*-----------------------*/
/*      HandleBars       */
/*-----------------------*/

#handle-bars-render-div {
  float:left;
  width: 250px;
  margin-left: 10px;
  text-align: center;
  border: solid 1px black;
}

/*-----------------------*/
/*     Selectors         */
/*-----------------------*/

#selector-play-div {
  clear:left;
  float: left;
  padding: 10px;
  margin-top: 10px;
  border: solid 1px black;
}

ol  li {color: green;}
ol > li {color: blue;} /*matches lis in ols but not nested uls..direct child of li*/
li.myClass {color: red;}
li.myClass + li {color: black;} /*direct sibiling*/

a[href^=http] {text-decoration: overline;} /*starts with*/
a[href$=pdf] {font-weight: bold ;} /*ends with*/


/*-------------------------------------*/
/*     UI Form Related Pseudo Classes  */
/*-------------------------------------*/

input[type=checkbox]:checked + label {color: blue;}

.input-pseudo-div {
  float:left;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  border: solid 1px black;
}

input:valid {background: green;}
input:invalid {background: red;}

#test3 {
  font-size: 2em;
  width: 4em;
}

/*-----------------------*/
/*Structural Selectors*/
/*-----------------------*/

.structural-selector-div {
  margin-left: 10px;
  width: 200px;
  float: left;
  margin-top: 10px;
  padding: 10px;
  border: solid 1px black;
}

table td {
  border:solid 1px black;
  width:200px;
}

tr:first-child,
tr:last-child {
  font-weight: bold;
}
tr:nth-child(even){
  background-color: green;
}
tr:nth-of-type(2n+3){
  font-style: italic;
}
tr:nth-child(odd){
  background-color: blue;
  color: orange;
}
